@media (width <=375px) {
	.content-container {
		inline-size: 100vw;
	}

	.header {
		padding-block: 118px 25px;
	}

	.card__image__wrap {
		block-size: 375px;
	}

	.card:not(:first-child) {
		margin-block-start: 51px;
	}

	.card__image__description {
		inset-inline-end: 13px;
		inset-block-start: 23px;
	}

	.card__memory-button {
		flex-direction: column;
	}

	.floppy {
		inline-size: 28px;
	}
}