:root.theme-light {
	--accent-color: #000;
	--bg-color: #fff;
	--bg-gradient: repeating-linear-gradient(to right, #d3d3d3, transparent 2px),
		repeating-linear-gradient(to bottom, #d3d3d3, transparent 2px),
		linear-gradient(to bottom, #e7e7e7, #1a1a1a);
	--font-weight-title: 700;
	--font-weight-text: 400;
	--shadow-color: #fff;
	--color-dif: #fff;
	--contour-heart-color: var(--accent-color);
}

:root.theme-dark {
	--accent-color: #00CC14;
	--bg-color: #000;
	--bg-gradient: repeating-linear-gradient(to right, #000, transparent 2px),
		repeating-linear-gradient(to bottom, #000, transparent 2px),
		linear-gradient(to bottom, #007f0c, #004306);
	--font-weight-title: 785;
	--font-weight-text: 465;
	--shadow-color: #000;
	--color-dif: var(--accent-color);
	--contour-heart-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent-color: #00CC14;
		--bg-color: #000;
		--bg-gradient: repeating-linear-gradient(to right, #000, transparent 2px),
			repeating-linear-gradient(to bottom, #000, transparent 2px),
			linear-gradient(to bottom, #007f0c, #004306);
		--font-weight-title: 785;
		--font-weight-text: 465;
		--shadow-color: #000;
		--color-dif: var(--accent-color);
		--contour-heart-color: var(--accent-color);
	}
}